body {
    background-color: black;
    
}

#imagen1,
#imagen2,
#imagen3 {
    display: block;
    margin-bottom: 10px;
    /*espacio entre imagenes*/
    width: auto;
    height: auto;
    border: 2px solid yellow;
}

#imagen4 {
    border: 8px solid darkred;
    margin-right: 10px;
}

#imagen5 {
    border: 8px solid darkred;
    margin-right: 10px;
}

#imagen6 {
    border: 8px solid darkred;
    margin-right: 10px;
}